ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
	content: "✨";
	position: absolute;
	left: 0;
}
body { 
    width: 960px; 
    margin: auto; 
	background-color:#FFF5E4;
}
table, th, td {
	text-align: center;
	border: 1px solid;
	border-color: brown;
	padding: 2px;
}

.pi {
	color: #FF9494;
}

a {
	color: #967E76;
}

p {
	color: #483838;
}